.file-manager {
  padding-right: 0 !important;
  i.fa {
    color: #333;
  }
  .file-manager-modal {
    .modal-header {
      padding: 15px 0;
      .groups-buttons {
        a {
          padding: 5px;
          background-color: #d4d4d4;
          border-color: #8c8c8c;
          margin-right: 5px;
          cursor: pointer;
          
        }
      }
    }

    .modal-content {
      padding: 0 20px;
      min-height: 100vh;
      .file-manager-container {
        border-top: 1px solid #8c8c8c;
        background-color: #ececec;

        ol.breadcrumb {
          li a {
            color: #333;
          }
        }

        .file-manager-content {
          display: flex;
          flex-wrap: wrap;
          // min-height: 300px;
          background-color: #fff;
          padding: 15px;

          .file-manager-folder {
            width: 80px;
            text-align: center;
            display: inline-block;
            .fa-folder {
              color: #FFD44D;
              font-size: 60px;
            }
          }
          
        }
      }
    }
  }
}


.input-check-disabled {
  i.fa {
    color: #c1c1c1
  }
}