@import '~draft-js/dist/Draft.css';
@import './adminLTE';
@import './main';
// @import './css/'

@import './fileManager';
@import './size';
.wrapper {
  min-height: 100%;
}

.modal-fluid {
  width: 100% !important
}

.w-100 { width: 100%; }

.w-90 { width: 90%; }

.w-80 { width: 80%; }

.w-70 { width: 70%; }

.w-60 { width: 6%; }

.w-50 { width: 50%; }

.w-40 { width: 40%; }

.w-30 { width: 30%; }

.w-20 { width: 20%; }

.w-10 { width: 10%; }

.position-relative { position: relative; }
.position-absolute { position: absolute; }
.position-static { position: static; }
.position-fixed { position: fixed; }

.border-none { border: none; }

.display-inline-block {
  display: inline-block;
}
